body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
    overflow-x: hidden;
    background-color: brown;
}

html, #root, .App {
    height: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-color: black;
    text-align: center;
    color: whitesmoke;
}

